/* ============================================глобальні скидання стилів ========================================*/
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

.input {
  font-family: inherit;
}

/*скинути налаштування для філсетів (це як діви у модальному вікні) */
.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* приховані елементи */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==============================================локальні стилі ================================================*/

/* надаємо глобальний контейнер з падінгами, як з макету, та авто марджинами зліва-зправа*/
.container {
  max-width: 1750px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgb(224, 224, 224);
  background-color: #717077;
  font-weight: 400;
}

.title1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.22;
  letter-spacing: 0.005em;
  color: rgb(6, 180, 143);
  text-align: center;
  text-shadow: 4px 4px 5px rgb(0, 0, 0);
  margin-bottom: 20px;
  max-width: 800px;
}

.title2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.22;
  letter-spacing: 0.005em;
  color: rgb(6, 180, 143);
  text-align: center;
  text-shadow: 6px 2px 5px rgb(0, 0, 0);
  margin-bottom: 30px;
  
}

.title3 {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.22;
  letter-spacing: 0.005em;
  color: rgb(6, 180, 143);
  text-align: center;
  text-shadow: 3px 1px 3px rgb(0, 0, 0);
  margin-bottom: 20px;
}

/*====================================================header====================================================*/

.about-text {
  letter-spacing: 0.005em;
  max-width: 800px;
  text-indent: 3%;
}

.text, .see-list-item-text {
  text-align: center;
  text-indent: 3%;
}
.see-list-item-text {
  margin-bottom: 20px;
}

.header {
  padding-top: 10px;
  position: fixed;
  z-index: 99;
}

.header-nav-list {
  display: flex;
  column-gap: 8px;
  row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.logo,
.logo-footer {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-shadow: 1px 1px 2px rgb(83, 83, 83);
  color: rgb(6, 180, 143);
  background-color: rgb(0, 0, 0);
  padding: 8px;
  border: 1px solid rgb(6, 180, 143);
  border-radius: 15px;
  transition: color 350ms ease-in-out, border-color 350ms ease-in-out,  background-color 350ms ease-in-out;
  max-height: 38px;
}

.accent {
  color: rgb(173, 119, 2);
  fill: rgb(173, 119, 2);
  transition: color 350ms ease-in-out;
}

.accent:hover,
.accent:focus {
  color: rgb(0, 0, 0);
  fill: rgb(0, 0, 0);
}

.button-item {
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.01em;
  text-shadow: 1px 1px 2px rgb(83, 83, 83);
  color: rgb(6, 180, 143);
  background-color: rgb(0, 0, 0);
  padding: 8px;
  border: 1px solid rgb(6, 180, 143);
  border-radius: 15px;
  transition: color 350ms ease-in-out, border-color 350ms ease-in-out,  background-color 350ms ease-in-out;
}

.button-item:focus,
.button-item:hover,
.logo:hover,
.logo:focus {
  color: rgb(173, 119, 2);
  background-color: rgb(6, 180, 143);
  border: 1px solid rgb(0, 0, 0);
}


.button-item-wite {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.01em;
  text-shadow: 1px 1px 2px rgb(83, 83, 83);
  color: rgb(2, 231, 182);
  background-color: rgba(150, 150, 150, 0.514);
  padding: 8px;
  border: 1px solid rgba(2, 231, 181, 0.534);
  border-radius: 15px;
  transition: color 350ms ease-in-out, border-color 350ms ease-in-out,  background-color 350ms ease-in-out;
  margin-bottom: 7px;
  margin-right: 5px;
  transition: transform 0.3s ease, color 350ms ease-in-out, border-color 350ms ease-in-out, background-color 350ms ease-in-out;
  }

.button-item-wite:hover {
  transform: scale(1.05);
  background-color: rgba(204, 203, 203, 0.664);
  border: 1px solid rgb(4, 228, 179);
}

/*============================================about==========================================================*/
.about {
  background-color: #1d1c2a;
  padding-top: 150px;
  padding-bottom: 20px;
  background-image: url(/images/фон\ варіант\ 3.jpg),
  linear-gradient(to bottom, #1d1c2a, #433e5c);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

.about-nav {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

/*============================================Where to see====================================================*/
.see-list {
  display: flex;
  column-gap: 40px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.see-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.see-list-item-img {
  border-radius: 15px;
  object-fit: cover;
  width: 300px;
  height: 300px;
}

/*==============================================All seasons=================================================*/

.all-seasons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
}

.seasons-list-item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 250px;
  align-items: center;
}

.seasons-img {
  border: 5px solid black;
  border-radius: 20px;
  width: 250px;
  max-height: 350px;
}

/*================posters================*/

.posters {
  margin-bottom: 50px;
}

.poster {
  background-color: #1d1c2a;
  height: 590px;
  position: relative;
}

.content {
  height: 210px;
  display: flex;
}

.marquee {
  position: absolute;
  left: 0;
}

.poster-list, .poster-list2 {
  display: flex;
  gap: 20px;
  align-items: center;
  width: max-content; /* Робимо ширину достатньою для плавного руху */
  animation: marqueeLoop 90s linear infinite;
  transition: animation-duration 10s ease-in-out;
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
}

.poster-list2 {
  animation: marqueeLoop2 90s linear infinite;
}

/* зміна напрямку */
@keyframes marqueeLoop {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* зміна напрямку */
@keyframes marqueeLoop2 {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Ефект збільшення при наведенні */
.poster-list-item:hover {
  transform: scale(1.6);
}

.poster-list-item-img {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/*==============================================actors==========================================================*/

.about-actor {
  display: flex;
  gap: 40px;
}

.actor-img {
  border-radius: 10px;
  max-width: 300px;
  margin-bottom: 10px;
}

.actor-text-div {
  max-height: 340px;
  overflow: auto;
  padding-right: 35px;
font-size: 19px;
}

.actor-text-div::-webkit-scrollbar {
  width: 7px;
}
.actor-text-div::-webkit-scrollbar-track {
  background:  #666666; 
  border-radius: 10px; 
}

.actor-text-div::-webkit-scrollbar-thumb {
  background: rgb(151, 151, 151);
  border-radius: 10px;
}


/*=================================================fotter========================================================*/

.logo-footer {
  background-color: transparent;
  border: none;
}

.address-list {
display: flex;
flex-direction: column;
align-items: center;
}

.page-footer {
  background-color: #1d1c2a;
}

.logo-footer {
justify-content: center;
}


.swing {
  animation: swing-animation 1s infinite alternate ease-in-out;
  transform-origin: center;
  fill: rgb(255, 255, 255);
  filter: drop-shadow(5px 5px 5px rgb(110, 110, 110));
  transition: transform 0.3s ease, filter 0.3s ease; /* Додаємо плавний перехід */
}

@keyframes swing-animation {
  0% { transform: rotate(-10deg) scale(1); }
  100% { transform: rotate(10deg) scale(1); }
}

.btn-open-form {
  position: fixed;
  bottom: 40px; 
  right: 40px; 
}

.btn-open-form:hover .swing {
  transform: scale(1.4) rotate(0deg); 
  filter: drop-shadow(1px 1px 5px rgb(4, 209, 165)); 
  animation: none; 
}
















.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 8, 10, 0.616),
    rgb(0, 8, 10)
  );

  transition: opacity 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  pointer-events: auto; /*клас для джаваскрипта, щоб повиртати видимість модальному вікну*/
}

.modal-window {
  background-image: linear-gradient(
    to bottom,
    rgba(39, 39, 39, 0.849),
    rgb(3, 97, 77)
  );

  border-radius: 15px;
  border: 1px solid rgb(6, 180, 143);
  padding: 50px;

  max-width: 600px;
  max-height: 900px;
}

.form {
  /*щоб спіймати кнопку хрестика*/
  position: relative;
}

/*=================================================content-forma===============================================*/

.icon-close-button {
  fill: rgb(6, 180, 143);
  background-color: transparent;
  border: none;
  padding: 0;

  /*обовязково скидати міжрядковий інтервал*/
  line-height: 0;

  /*позиціонування кнопки на абсолютах*/
  position: absolute;
  top: -10px;
  right: -290px;

  transition: fill 400ms ease-in-out;
}

.icon-close-button:hover,
.icon-close-button:focus {
  fill: rgb(173, 119, 2);
}

.input-form {
  background-color: rgba(255, 255, 255, 0.493);
  border: 1px solid rgb(6, 180, 143);
  border-radius: 10px;

  padding-left: 10px;
  margin-bottom: 20px;

  width: 100%;
  height: 50px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.star {
  color: rgb(197, 22, 22);
}

.legend {
  font-weight: 600;
  font-size: 25px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}

.fieldset {
  padding: 0;
  border: none;
  margin: 0;
  margin-bottom: 20px;
}

.review-textarea {
  background-color: rgba(255, 255, 255, 0.493);
  border: 1px solid rgb(6, 180, 143);
  border-radius: 10px;

  padding: 10px;
  margin-bottom: 20px;

  width: 100%;
  height: 90px;
  resize: none;
}

/*=======================================button-forma==================================*/
.button-forma {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.button-form {
  font-size: 20px;
  text-shadow: 1px 1px 2px rgb(83, 83, 83);
  color: rgb(7, 202, 160);
  background-color: rgba(0, 0, 0, 0.425);
  padding: 15px 30px;
  border: 1px solid rgb(7, 199, 157);
  border-radius: 15px;
  transition: color 350ms ease-in-out, border-color 350ms ease-in-out,  background-color 350ms ease-in-out;
}

.button-form:hover,
.button-form:focus {
  color: rgb(173, 119, 2);
  background-color: rgb(9, 240, 190);
  border: 1px solid rgb(173, 119, 2);
}
