/* Назва шрифтів з сайту гугл font-family: 'Montserrat', sans-serif;*/
/* Скидання для елементів сторінки */
/*скидання точок та цифр перед списками*/
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
/* скидання стиля для посилання. Задавання йому наслідування кольору*/
a {
  text-decoration: none;
  color: inherit;
}
/* зміна курсону при наведенні на кнопки*/
button {
  cursor: pointer;
}
/* Скидання відступів у заголовків*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
/* налаштування для БОДІ. Всі спільні значення для всієї сторінки*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #111111;
  background: #c1c1cc;
}
/* логотип*/
.page-logo,
.serial-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.accent-logo,
.believe-accent,
.poster-accent,
.actors-accent {
  font-style: italic;
  color: rgb(1, 137, 248);
}
.header-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-nav a:focus,
.header-nav a:hover,
.about-nav-item:hover,
.about-nav-item:focus,
.believe-button:hover,
.believe-button:focus,
.poster-list-item:hover,
.poster-list-item:focus {
  color: rgb(1, 137, 248);
}
.about,
.see,
.page-footer {
  background-color: #1e1823;
}
.about-title {
  font-size: 35px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  color: #fff;
}

.about-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  color: #fff;
}
.about-nav-item {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}
.see-title {
  font-weight: 600;
  font-size: 19px;
  color: #fff;
}
.see-list-item-link {
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}
.see-list-item-text,
.footer-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.seasons-title,
.believe-title,
.poster-title,
.actors-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.seasons-list-item,
.believe-button {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
.poster-list-item {
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: -0.02em;
}
.dana-title,
.david-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.dana-text,
.david-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.address-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}
.address-list {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-nav-item,
.footer-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}
