/* ============================================глобальні скидання стилів ========================================*/
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

.input {
  font-family: inherit;
}

/*скинути налаштування для філсетів (це як діви у модальному вікні) */
.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* приховані елементи */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==============================================локальні стилі ================================================*/

/* надаємо глобальний контейнер з падінгами, як з макету, та авто марджинами зліва-зправа*/
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgb(224, 224, 224);
  background-color: #222222;
  font-weight: 400;
}

.title1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.22;
  letter-spacing: 0.005em;
  color:  rgb(8, 209, 166);
  text-align: center;
  text-shadow: 4px 4px 5px rgb(0, 0, 0);
  margin-bottom: 30px;
  max-width: 760px;
}

.title2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.22;
  letter-spacing: 0.005em;
  color:  rgb(8, 209, 166);
  text-align: center;
  text-shadow: 6px 2px 5px rgb(0, 0, 0);
  margin-bottom: 40px;
}

.title3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.22;
  letter-spacing: 0.005em;
  color:  rgb(8, 209, 166);
  text-align: center;
  text-shadow: 3px 1px 3px rgb(0, 0, 0);
  margin-bottom: 15px;
}

.text {
  text-align: center;
  text-indent: 3%;
}

/*====================================================header====================================================*/
.header {
  padding-top: 10px;
  position: fixed;
  z-index: 99;
}

.header-nav-list {
  display: flex;
  gap: 9px;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  height: 39px;
  display: flex;
  align-items: center;
  color: rgb(8, 209, 166);
  background-color: rgb(0, 0, 0);
  padding: 10px 12px;
  border: 1px solid rgba(8, 209, 166, 0.541);
  border-radius: 10px;
  transition: 350ms ease-in-out;
}

.btn:focus,
.btn:hover {
  color:rgb(9, 241, 191);
  background-color: rgb(3, 59, 46);
  border: 1px solid rgba(8, 209, 166, 0.815);
}

.accent {
  color: rgb(207, 144, 6);
  fill: rgb(173, 119, 2);
  transition: color 350ms ease-in-out;
  padding: 2px;
}

.accent:hover,
.accent:focus {
  color: rgb(250, 174, 9);
  fill: rgb(250, 174, 9);
}

/*==========================================about==========================================================*/
.about {
  padding-top: 20px;
  background-image:  linear-gradient(to bottom, #1d1c2a, #433e5c);
}

.fon {
  background-image: url(/images/fon.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  padding-top: 100px;
  padding-bottom: 30px;

}

.about-text {
  letter-spacing: 0.005em;
  max-width: 760px;
  text-indent: 3%;
}
.about-nav {
  justify-content: flex-end;
  display: flex;
  gap: 9px;
}

/*============================================Where to see====================================================*/

.see-list-ul {
  display: flex;
  gap: 15px;
}

.see-list {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  flex-direction: column;
}

.see-list-div {
  display: flex;
  gap: 15px;
}

.see-list-img {
  border-radius: 7px;
  object-fit: cover;
  width: 150px;
  height: 200px;
}

.see-list-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  max-width: 900px;
}

.btn-wite {
  display: inline-block;
  color: rgb(2, 231, 182);
  background-color: rgba(150, 150, 150, 0.514);
  border: 1px solid rgba(2, 231, 181, 0.534);
  padding: 4px 12px;
  border-radius: 8px;
  margin-bottom: 7px;
  margin-right: 5px;
  transition: 350ms ease-in-out;
}

.btn-wite:hover {
  transform: scale(1.05);
  background-color: rgba(204, 203, 203, 0.664);
  border: 1px solid rgb(4, 228, 179);
}

/*==============================================All seasons=================================================*/

.seasons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.seasons-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 250px;
  align-items: center;
}

.seasons-img {
  border: 3px solid black;
  width: 250px;
  height: 350px;
  border-radius: 7px;
  object-fit: cover;
  box-shadow: 2px 2px 5px black;  
}

/*================posters================*/
.poster {
  height: 590px;
  position: relative;
}

.content {
  padding-top: 10px;
  height: 210px;
  display: flex;
}

.marquee {
  position: absolute;
  left: 0;
}

.poster-list, .poster-list2 {
  display: flex;
  gap: 20px;
  align-items: center;
  width: max-content; 
  animation: marqueeLoop 90s linear infinite;
  transition: animation-duration 10s ease-in-out;
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
}

.poster-list2 {
  animation: marqueeLoop2 90s linear infinite;
}

/* зміна напрямку */
@keyframes marqueeLoop {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* зміна напрямку */
@keyframes marqueeLoop2 {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Ефект збільшення при наведенні */
.poster-list-item:hover {
  transform: scale(1.6);
}

.poster-list-item-img {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/*==============================================actors==========================================================*/

.about-actor {
  display: flex;
  gap: 40px;
}

.actor-link {
  display: flex;
  width: 270px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.actor-img {
  border-radius: 7px;
  width: 270px;
  margin-bottom: 10px;
}

.actor-text-div {
  max-height: 340px;
  overflow: auto;
  padding-right: 35px;
  font-size: 19px;
}

.actor-text-div::-webkit-scrollbar {
  width: 7px;
}
.actor-text-div::-webkit-scrollbar-track {
  background:  #666666; 
  border-radius: 10px; 
}

.actor-text-div::-webkit-scrollbar-thumb {
  background: rgb(151, 151, 151);
  border-radius: 10px;
}

/*=================================================fotter========================================================*/
.footer {
  background-color: #1d1c2a;
}

.address-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.btn-foot {
  background-color: transparent;
  border: none;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.btn-foot:hover,
.btn-foot:focus {
  color:rgb(9, 241, 191);
  background-color: transparent;
  border: none;
}

/* ================================кнопка відкриття форми=======  */
.swing {
  animation: swing-animation 1s infinite alternate ease-in-out;
  transform-origin: center;
  fill: rgb(255, 255, 255);
  filter: drop-shadow(5px 5px 5px rgb(110, 110, 110));
  transition: transform 0.3s ease, filter 0.3s ease; /* Додаємо плавний перехід */
}

@keyframes swing-animation {
  0% { transform: rotate(-10deg) scale(1); }
  100% { transform: rotate(10deg) scale(1); }
}

.btn-open-form {
  position: fixed;
  bottom: 40px; 
  right: 40px; 
}

.btn-open-form:hover .swing {
  transform: scale(1.4) rotate(0deg); 
  filter: drop-shadow(1px 1px 5px rgb(4, 209, 165)); 
  animation: none; 
}

/* ========================================модальне вікно */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 8, 10, 0.616),
    rgb(0, 8, 10)
  );
  transition: 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  pointer-events: auto; 
}

.form {
  background-image: linear-gradient(
    to bottom,
    rgba(15, 15, 15, 0.849),
    rgb(2, 61, 48)
  );
  border-radius: 10px;
  border: 1px solid rgba(6, 180, 142, 0.425);
  padding: 40px;
  width: 600px;
  max-height: 900px;
  position: relative;
}

.icon-close-button {
  fill: rgb(6, 180, 143);
  background-color: transparent;
  border: none;
  padding: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  transition: fill 400ms ease-in-out;
}

.icon-close-button:hover,
.icon-close-button:focus {
  fill: rgb(173, 119, 2);
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 17px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.input {
  background-color: rgba(255, 255, 255, 0.493);
  border: 1px solid rgb(6, 180, 143);
  border-radius: 7px;
  padding-left: 15px;
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
}

.star {
  color:  rgb(6, 180, 143);
}

.legend {
  font-weight: 600;
  font-size: 23px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: rgb(4, 214, 169);
  margin-bottom: 8px;
}

.fieldset {
  padding: 0;
  border: none;
  margin: 0;
  margin-bottom: 20px;
}

.textarea {
  background-color: rgba(255, 255, 255, 0.493);
  border: 1px solid rgb(6, 180, 143);
  border-radius: 7px;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  height: 90px;
  resize: none;
}

/*=======================================button-forma==================================*/
.button-forma {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-form {
  font-size: 20px;
  padding: 15px 30px;
  color: rgb(8, 209, 166);
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(8, 209, 166, 0.541);
  border-radius: 10px;
  transition: 350ms ease-in-out;
}

.button-form:hover,
.button-form:focus {
  color:rgb(0, 255, 200);
  background-color: rgb(5, 138, 107);
  border: 1px solid rgba(8, 209, 166, 0.815);
}
